<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!-- 全局配置 -->
    <settings>
        <!--开启自动驼峰命名规则映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

<!--    <plugins>-->
<!--        <plugin interceptor="com.github.pagehelper.PageHelper">-->
<!--            <property name="dialect" value="mysql"/>-->
<!--        </plugin>-->
<!--    </plugins>-->

        <typeAliases>
            <typeAlias alias="Article" type="com.entity.Article"/>
            <typeAlias alias="Comment" type="com.entity.Comment"/>
            <typeAlias alias="Tag" type="com.entity.Tag"/>
            <typeAlias alias="User" type="com.entity.User"/>
            <typeAlias alias="Link" type="com.entity.Link"/>
            <typeAlias alias="Message" type="com.entity.Message"/>
            <typeAlias alias="tagArticle" type="com.entity.Tag_Article"/>
        </typeAliases>

</configuration>